    <div>
        <h1>Automatic Cryptocurrency Trading Platform</h1>
        <p>This is a mock Implementation. Use the links above to select a transaction</p>
    </div>
    <!--Div that will hold the pie chart-->
    <!-- <div id="chart_div" style="width:400; height:300"></div> -->

    <!-- ======== Live Chart ======== -->
    <div class="w3-container w3-margin w3-center">
        <!-- Live Chart or Graph Presentation Starts here -->
        <h4><strong>NGN/BTC Live Chart: 1 BTC =  ₦<span id="BTCNGN"></span></strong></h4>
        <div id="container" class="w3-third" style=" width: 100%; font-weight: normal; margin:0 auto; margin-top: 0px; margin-buttom:0px; height: 400px; background-color: transparent;" >
        </div>
        <!-- Live Chart or Graph Presentation Ends here -->
      </div>
    <!-- ======== Live Chart End======== -->

    